@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #83a4d4;
  background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);
  background: linear-gradient(to left, #b6fbff, #83a4d4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eeeeee;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.mobile-container {
  background-color: white;
  box-shadow: 0 0 10px 3px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

.fav-container {
  background-color: rgb(200, 184, 245);
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  cursor: pointer;
  position: relative;
  margin: 2px;
  width: 85px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.fav-meals li:hover span {
  white-space: normal;
  overflow: auto;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 3px #3333331a;
    cursor: pointer;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header { 
    position: relative;
}

.meal-header .random{
    position: absolute; 
    top: 15px;
    background-color: white;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(196, 185, 185);
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup-container .hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  border-radius: 5px;
  max-height: 100vh;
  max-width: 600px;
  width: 100%;
}

.meal-info h1 {
  text-align: center;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}